<!-- core/templates/core/home.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CSE 3107: Computer Architecture</title>
        {% load static %} <!-- Add this line to load the static template tag -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
<body>
    <div class="container">
        <h1>CSE 3107: Computer Architecture</h1>
        <p class="welcome">Welcome to CSE 3107! Assignments and handouts will be available here. Discussion will happen through a discussion board (TBD). Written assignments can be submitted via a form (TBD). Lectures timing: TBD.</p>

        <div class="columns">
            <div class="column">
                <h2>More Information</h2>
                <ul>
                    <li><a href="https://drive.google.com/file/d/19m5ePfHHTeNc_nOpokCK9DxwZ0rsfbnT/view">Schedule/Syllabus</a></li>
                    <li><a href="https://docs.google.com/document/d/1cjwIvSjVi3-DW7Jmy3-tO3pFsT0ubm_TjWlJBKYAtxo/edit?tab=t.0">Grading Rubrics</a></li>
                </ul>

                <h2>Handouts</h2>
                <ul>
                    <li><a href="https://docs.google.com/document/d/1j1hdqeu0PrUDnulUaHiXLzITGv5kteHqoa2_grfMzMM/edit?tab=t.0">Solutions of the pipelining diagram problem of CT4</a></li>
                </ul>

                <h2>Assignments</h2>
                <ul>
                    <li><a href="https://docs.google.com/document/d/131Tx3F0E4VyRXGD5SowvHyx7PbPrmnEeRQcIf2bQku0/edit?tab=t.0">Programming Assignment 1</a></li>
                    <li><a href="https://drive.google.com/file/d/1L27cHtk-5DBmDcNi9dsnOr0kccSep8qg/view">Written Assignment 1</a></li>
                    <li><a href="https://docs.google.com/document/d/1GDpAffrdgKDazmrzPiG_NDfE3b4wxWt6ywe5MyTjW9E/edit?tab=t.0">Programming Assignment 2</a></li>
                    <li><a href="https://drive.google.com/file/d/1LmjTjOrUMGcZOHrCiyU64ZQNEZE8Oypy/view">Written Assignment 2</a></li>
                    <li><a href="https://docs.google.com/document/d/1GDpAffrdgKDazmrzPiG_NDfE3b4wxWt6ywe5MyTjW9E/edit?tab=t.0">Programming Assignment 3</a></li>
                    <li><a href="https://drive.google.com/file/d/1PWf0znC8wM8JcQUOnHx7CaSwrsHw9SEt/view">Written Assignment 3</a></li>
                    <li><a href="https://docs.google.com/document/d/1GDpAffrdgKDazmrzPiG_NDfE3b4wxWt6ywe5MyTjW9E/edit?tab=t.0">Programming Assignment 4</a></li>
                    <li><a href="https://drive.google.com/file/d/1KrQ559Pu_HAhUEAhlNdcNt4D_S_FYkw4/view">Written Assignment 4</a></li>
                </ul>
            </div>

            <div class="column">
                <h2>Resources</h2>
                <ul>
                    <li><a href="https://books.google.com.bd/books/about/Digital_Design_and_Computer_Architecture.html?id=muCcBAAAQBAJ&redir_esc=y">Digital Design and Computer Architecture ARM Ed - Sarah L. Harris, David Money Harris (2016)</a></li>
                    <li><a href="https://books.google.com.bd/books/about/Computer_Organization_and_Design_ARM_Edi.html?id=Pz-XCgAAQBAJ&redir_esc=y">Computer Organization and Design ARM Ed - David A. Patterson, John L. Hennessy (2017)</a></li>
                    <li><a href="https://github.com/nahin100/20-CSE3108">HDL Code Repository</a></li>
                </ul>
            </div>
            
        </div>

                    <div class="table-container">
                <h2>Lecture Slides & Videos</h2>
                <table border="1" cellpadding="5" cellspacing="0" style="width: 100%; border-collapse: collapse;">
                    <tr>
                        <th>Topic Name</th>
                        <th>Book</th>
                        <th>Chapter</th>
                        <th>Topics</th>
                        <th>CLO</th>
                    </tr>
                    <tr>
                        <td>Introduction</td>
                        <td>Book 2</td>
                        <td>Chapter 1 (Computer Abstractions and Technology)</td>
                        <td>Easy: 1.1, 1.5, 1.6, 1.7, 1.8</td>
                        <td>CLO1</td>
                    </tr>
                    <tr>
                        <td>Introduction</td>
                        <td>Slide</td>
                        <td>Introduction Slides (<a href="https://drive.google.com/drive/folders/1dS-R7HEnlfyS6CdSz5PqQBlWb5NObgtW">Link</a>)</td>
                        <td>
                            Introduction 1 - Relationship between hardware and software & Analog Electronics I<br>
                            Introduction 2 - Analog Electronics II (CMOS) Introduction<br>
                            Introduction 3 - FPGA
                        </td>
                        <td>CLO1</td>
                    </tr>
                    <tr>
                        <td>HDL</td>
                        <td>Slide</td>
                        <td>HDL Slides (<a href="https://drive.google.com/drive/folders/1OQZDzu0L6F_vIfSBkT7MaC-DnxxZn-fR">Link</a>)</td>
                        <td>
                            1. HDL 1 - Combinational Circuit<br>
                            2. HDL 2 - Sequential Circuit
                        </td>
                        <td>CLO1</td>
                    </tr>
                    <tr>
                        <td>ARM</td>
                        <td>Slide</td>
                        <td>ARM Slides (<a href="https://docs.google.com/presentation/d/1yCzXjnXiE--P8i8ylBbsv7zZvq-QBZVy/edit?slide=id.p1#slide=id.p1">Link</a>)</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Assembly</td>
                        <td>Book 1</td>
                        <td>Chapter 6 (Architecture)</td>
                        <td>Easy: 6.1, 6.2, 6.2.1, 6.2.2, 6.3, 6.3.1, 6.3.2, 6.3.3, 6.3.4, 6.3.5, 6.3.6, 6.3.7</td>
                        <td>CLO5</td>
                    </tr>
                    <tr>
                        <td>ALU</td>
                        <td>Slides</td>
                        <td>ALU Slides (<a href="https://drive.google.com/drive/folders/1sJEuoR0PxszwcrrcobDF68DLKX2I-8IO">Link</a>)</td>
                        <td>
                            ALU 1 - Adder & Subtractor<br>
                            ALU 2 - Unsigned Multiplier<br>
                            ALU 3 - Unsigned Divider<br>
                            ALU 4 - Signed Multiplier (Booth)<br>
                            ALU 6 - Final 4-bit ALU Design
                        </td>
                        <td>CLO2</td>
                    </tr>
                    <tr>
                        <td>RF & Memory</td>
                        <td>Slide</td>
                        <td>RF & Memory Slides (<a href="https://drive.google.com/drive/folders/1afFWWG7KKVWPqw7-aM2Qa457L2nTZWaq">Link</a>)</td>
                        <td>
                            RF & Memory 1 - Memory Hierarchy<br>
                            RF & Memory 2 - Final Register Set Design<br>
                            RF & Memory 3 - Main Memory Design Example
                        </td>
                        <td>CLO3</td>
                    </tr>
                    <tr>
                        <td>Floating Point Arithmetic</td>
                        <td>Video</td>
                        <td>Videos</td>
                        <td>
                            Topic 1: Represent decimal to IEEE 754 floating point single precision and double precision<br>
                            1. Video 1: <a href="https://www.youtube.com/watch?v=9lLpAFapndo&list=PLrjkTql3jnm8AcFgkc5TE_yQgeHEuKYrG&index=6">Link</a> (Easy)<br>
                            2. Video 2: <a href="https://www.youtube.com/watch?v=NTwX21R8UE8&list=PLrjkTql3jnm8AcFgkc5TE_yQgeHEuKYrG&index=7">Link</a> (Easy)<br>
                            Topic 2: Floating Point Arithmetic (Add, Mul, Divide)<br>
                            1. Video 1: <a href="https://www.youtube.com/watch?v=fi8A4zz1d-s&list=PLWi7UcbOD_0tos7FFhw3OqT747uggusyJ&index=3">Link</a> (Easy)<br>
                            2. Video 2: <a href="https://www.youtube.com/watch?v=27JjUa-eu_E&list=PLWi7UcbOD_0tos7FFhw3OqT747uggusyJ&index=2">Link</a>(Easy)<br>
                            3. Video 3: <a href="https://www.youtube.com/watch?v=fi8A4zz1d-s&list=PLWi7UcbOD_0tos7FFhw3OqT747uggusyJ&index=3">Link</a>(Hard)
                        </td>
                        <td>CLO2</td>
                    </tr>
                    <tr>
                        <td>ISA & CPU</td>
                        <td>Slide</td>
                        <td>ISA & CPU Slides (<a href="https://drive.google.com/drive/folders/1anRhkiVQlZOSs-OcXGPP5FMxoE6BSRy7">Link</a>)</td>
                        <td>
                            ISA & CPU 1 - ISA Design<br>
                            ISA & CPU 2 - CPU Design Example
                        </td>
                        <td>CLO4</td>
                    </tr>
                    <tr>
                        <td>Assembler, Procedure & STACK</td>
                        <td>Slide</td>
                        <td>Assembler & Procedure Slides (<a href="https://drive.google.com/drive/folders/1bOweMn42gtCEoJ8j-pWPZvS6MtE48GHE">Link</a>)</td>
                        <td>
                            Assembler 1 - Assembler Design<br>
                            Assembler 2 - Procedure & STACK
                        </td>
                        <td>CLO5</td>
                    </tr>
                    <tr>
                        <td>Interfacing</td>
                        <td>Slide</td>
                        <td>Interfacing Slides (<a href="https://drive.google.com/drive/folders/12TYgAwcwwmWB-j5z1kLCtgotbtK0_r6X">Link</a>)</td>
                        <td>Interfacing & PP 1 - Interfacing</td>
                        <td>CLO5</td>
                    </tr>
                    <tr>
                        <td>Pipelining</td>
                        <td>Slide</td>
                        <td><a href="https://drive.google.com/file/d/1O0nMDFnfs5yj3nbScLnx-pzzEEJeLrCt/view?usp=drivesdk">Link</a></td>
                        <td>Interfacing & PP 2 - Parallel Processing</td>
                        <td>CLO1</td>
                    </tr>
                    <tr>
                        <td>Parallel Processing</td>
                        <td>Book 2</td>
                        <td>Chapter 6 (Parallel Processors from Client to Cloud)</td>
                        <td>
                            1. Video 1: <a href="https://drive.google.com/file/d/1O0nMDFnfs5yj3nbScLnx-pzzEEJeLrCt/view?usp=drivesdk">Link</a><br>
                            2. Video 2: <a href="https://youtu.be/-0EqjuhIm9k">Link</a><br> 
                            Easy: 6.1, 6.2, 6.3<br>Hard: 6.4, 6.5, 6.6</td>
                        <td>CLO1</td>
                    </tr>
                    <tr>
                        <td>Cache & Virtual Memory</td>
                        <td>Book 1</td>
                        <td>Chapter 8 (Memory Systems)</td>
                        <td>
                            Easy: 8.1, 8.2, 8.3<br>
                            Hard: 8.4<br>
                            (Lecture Video: <a href="https://www.youtube.com/watch?v=S-8EFvCx04U&list=PL-Mfq5QS-s8iUJpNzCOtQKRfpswCrPbiW&index=19&pp=iAQB">Part I</a>, 
                            <a href="https://www.youtube.com/watch?v=1aH2pOs0utg&list=PL-Mfq5QS-s8iUJpNzCOtQKRfpswCrPbiW&index=20&pp=iAQB">Part II</a>,
                            <a href="https://www.youtube.com/watch?v=BDShKoxCsMk&list=PL-Mfq5QS-s8iUJpNzCOtQKRfpswCrPbiW&index=21&pp=iAQB">Part III</a>,
                            <a href="https://www.youtube.com/watch?v=D6zAV0Xlk_o&list=PL-Mfq5QS-s8iUJpNzCOtQKRfpswCrPbiW&index=22&pp=iAQB">Part IV</a>)
                        </td>
                        <td>CLO3</td>
                    </tr>
                </table>
            </div>

        <footer>
            <p>© 2025 CSE 3107 Course RUET. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>